player-connection-mode=Listen
player-connection-guid=76013780
player-connection-debug=1
player-connection-project-name=Past Present Future
player-connection-ip=192.168.2.134
player-connection-ip=192.168.2.179
player-connection-ip=192.168.229.1
player-connection-ip=192.168.44.1
player-connection-ip=192.168.56.1
player-connection-ip=10.5.0.2
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e8b5148e4fe940a4837d2393276a3103
